// COLORS
$primaryColor: #f7c9b6;
$secondaryColor: #222;
$terciaryColor: #fec89a;
$whiteColor: #fff;
$bgColorHeader: #161616;
$bgText: rgba(0, 0, 0, 0.4);
$bgColor: rgba(0, 0, 0, 0.1);
$bgContact: rgba(0, 0, 0, 0.7);

// FONTS
$principalFont: "Quicksand", sans-serif;